language: go

go:
  - "1.10.x"
  - master

go_import_path: github.com/sirnewton01/ghfs

script:
    - pwd
    - diff -u <(echo -n) <(gofmt -d ./)
    - go test -v ./...
    - GOOS=darwin go build
    - GOOS=plan9 go build
